# DirectoryIndex index.php

RewriteEngine On 

# If the request is for the root directory, redirect to public/index.php
RewriteRule ^$ public/index.php [L]

# If the request is not already in the public folder, redirect to it
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

